.input{
    display: flex;
    align-items: center;
    border: #F27830 solid 2px;
    padding: 10px;
    border-radius: 30px;
    gap: 10px;
}

.textInput{
    border: none;
    outline: none;
    height: 30px;
    background-color: none ;
}