.pdp {
    border-radius: 100%;
    border: solid silver 1px;
    box-shadow: silver 4px 4px;
}

.profilePicture{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.modifPdp{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 6vw;
    margin-top: 6%;
}

.profileInformation{
    padding: 80px 0;
}

.modifPicture{
    padding: 20px;
    background-color: silver;
    display: flex;
    align-items: center;
    width: 400px;
}